.not-found-container{
    width: 100vw;
    height:100vh;
    background-image:url("../../assets/wallpapers/not-found-wallpaper.jpg");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;

}